/no_logo.csv
/processed.csv
/proce_temp.csv
/url_not_working.csv
/all_merged.csv
/all_merged_cta_cleaned.csv
/cta_postion_concat.csv
/dominant_color_merged.csv
/logo_position_concat.csv
/no_cta.csv
/performance_data.csv
/transcribed_text.csv
/temp.csv
/audio_features.csv
/emotion_features.csv
/sentiment.csv
